name: Notify on changes

on:
  push:
    branches: [main]
    paths:
      - starship.toml

env:
  TARGET_REPO: ${{ secrets.TARGET_REPO }}

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger webhook
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ env.TARGET_REPO }}/dispatches \
            -d '{"event_type":"update"}'
